html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.4rem;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.splash {
  background-image: url('./img/SplashCal.jpg');
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.navbar {
  align-items: center;
  background:#5f6468d4;
  display: flex;
  justify-content: space-between;
  /* margin: 10px 0; */
  /* padding: 1%; */
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}


.navbar h2{
  margin: 1% 5%;
}
.googleBtn {
  margin: 0 5%;
}

.copyBox {
  width: 100%;
  margin-top: 28%;
  /* padding:10%; */
  /* opacity: .9; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.copy {
  padding:3%;
  background: #212224;
  color: #caac12;
  border-radius: 10px;
  width: 40%;
  box-shadow: 8px 8px 12px 3px #b69b15;
}


.d8picker {
  margin:1%;
  width:100%;
}
.copy h3{
line-height: 1.5;
}

.home {
  background: #faf7e3;
  height: 100vh;
  width: 100%;
  padding: 1%;
}
.favicon{
  width: 5%;
  margin-left: 2%;
}

.logo {
  width: 50%;
}
.main {
  display: flex;
  width:95%;
}

.left {
  width: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.right{
  width: 85%;
  
}
/* .cal{
  height: 60vh;
} */

.profile{
  height: 40%;
}
.template{
  background: #dbce79;
  height: 60%;
}